@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700);

*{
  box-sizing: border-box;
}

body{
  border:5px solid #222;
  background-color:#AAA;
  margin: auto;
  margin-top: 2em;
  padding:0;
  width:90%;
  font-family: 'Roboto', sans-serif;
}

header{
  background-color:#C00;
  color:white;
  height:100px;
  width:100%;
  padding:0;
  margin:0;
  display: flex;
  align-content: center;
  justify-content: center;
}

#title{
  margin:0;
  margin-right: auto;
  align-self: center;
  margin-left:2em;
  font-weight: 300;
}

#subtitle{
  font-size: .6em;
}

header img{
height:inherit;
}

nav{
  background-color:black;
  border-bottom:3px solid #222;
  border-top:4px solid white;
}

nav ul{
  padding:0px;
  margin:0px;
  height:40px;
  list-style: none;

  display: flex;
  text-align: center;
}

nav ul a{
  flex-grow:1;
  height:inherit;

  display:flex;
  justify-content: center;
  align-items:center;
}

nav ul a{
  text-decoration: none;
  font-size:1.5em;
  font-weight: 700;
  color:white;
}

nav ul a:hover{
  background-color:#c00;
}

#wrapper{
  padding:1em;
  border-left:2px solid #888;
  border-right:2px solid #888;
  border-bottom:2px solid #888;
  background-color:#CCC;
}

h1{
  padding:0;
  margin:0;
}

footer{
  height:60px;
  background-color:black;
  color:#888;
  font-size: .8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
